.header-wrap {
  width: 100%;
  height: 200px;
  padding-top: 50px;
  text-align: center;
  align-self: center;
  background: #e9eef6;
}

.btn-modal {
  padding: 10px 24px;
  background: #2066e7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn-modal:hover {
  background: #1c3a72;
}

/* card */
.card-wrapper {
  width: 270px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.card-top {
  width: 100%;
}

.task-holder {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  margin: 10px 0;
  width: fit-content;
  padding: 5px 25px !important;
  text-align: center;
}

.task-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  background-color: #f6f7f8;
  padding: 40px 100px;
}

.btn-tool {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end; /* Align items to the end (right) */
}
